$primaryColor: #064e81;
$secondaryColor: #ff6600;
$raleway: 'Raleway', sans-serif;

// Responsive breakpoints
$phone: 599px;
$tablet: 600px;
$tablet-landscape: 900px;
$laptop: 1200px;

// Responsive Mixins
@mixin for-phones {
    @media (max-width: $phone) {@content;}
}
@mixin for-tablets {
    @media (min-width: $tablet) and (max-width: $tablet-landscape) {@content;}
}
@mixin for-tablets-landscape {
    @media (min-width: $tablet-landscape) {@content;}
}
@mixin for-laptops {
    @media (min-width: $laptop) {@content;}
}