@import "./variables";
@import "./header";
@import "./benefits";
@import "./membership";
@import "./footer";
@import "./mobile";
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

html {
    font-family: $raleway;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: $raleway;
}

ul {
    list-style: none;
}

#top {
    position: fixed;
    font-size: 34px;
    color:  $secondaryColor;
    bottom: 40px;
    right: 40px;
    transition: opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    cursor: pointer;
    @include for-phones {
        bottom: 20px;
        right: 15px;
    }
}

#top.show {
    opacity: 1;
    visibility: visible;
  }